<div class="intro">
    <img src="../assets/images/header.jpg" alt="Header Image" class="img-fluid w-100">
    <div class="head text-center">
        <h1>Hella</h1>
        <h6>LIFESTYLES</h6>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam, velit.</p>
        <hr class="w-25 mx-auto">
    </div>
</div>
<div class="container">
    <!-- <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Buyer</a></li>
            <li class="breadcrumb-item"><a routerLink="/buyer-dashboard">Products</a></li>
        </ol>
    </nav> -->
    <div class="row">
        <div class="col-sm-4 product" *ngFor="let product of all_products;">
            <div class="card">
                <img src="{{product.uploadPhoto}}" class="card-img-top" alt="{{product.name}}">
                <div class="card-body">
                    <h4 class="card-title">{{product.name}}</h4>
                    <p><span class="float-left"><strong>MRP</strong>: <del>{{product.mrp}}</del></span> <span class="float-right"><strong>DP</strong>:
                            {{product.dp}}</span></p>
                    <br>
                    <p class="card-text product-desc">{{product.productDesc}}</p>
                    <a class="btn btn-primary float-left" (click)="addToCart()">Add to Cart</a>
                    <a class="btn btn-primary float-right" (click)="buyProduct(product.id)">Buy Now</a>
                </div>
            </div>
        </div>
    </div>
</div>

  




  


  <!-- New Product will come here end -->
