<div class="home">
    <!-- <h1 class="intro">{{ 'intro' | translate }}</h1> -->
    <!-- <h1 class="intro">{{'proj_name' | translate}}</h1> -->

<!-- <h1>Another way: <span translate>intro</span></h1> -->

<!-- <h3 class="short_desc"><span translate>project_short_desc</span></h3>

<p><a href="https://docs.google.com/document/d/1NdB3SdAbKSFcPooap-ddpHdQQxBDvAieH2bPF4NCLMU/edit?usp=sharing" target="_blank" class="btn btn-primary">{{'view_detail_doc_btn' | translate}}</a>
</p>
<p>
    <a href="https://github.com/srikrushnap" target="_blank" class="btn btn-primary">Github</a>
    <a href="https://stackoverflow.com/users/5852550/srikrushna?tab=profile" target="_blank" class="btn btn-success">Stackoverflow</a>
    <a href="https://github.com/srikrushnap" target="_blank" class="btn btn-primary">Linkedin</a>
</p> -->
<div class="intro">
    <img src="../assets/images/header.jpg" alt="Header Image" class="img-fluid w-100">
    <div class="head text-center">
        <h1>Hella</h1>
        <h6>LIFESTYLES</h6>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam, velit.</p>
        <hr class="w-25 mx-auto">
    </div>
</div>
<!-- Navigation -->
<div class="secondary-nav">
    <nav class="navbar navbar-expand-lg navbar-light bg-light px-5 py-3">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Featured</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Breakfirst</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Fruits</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <i class="fa fa-youtube-play px-2 fw-bold" aria-hidden="true"></i>
                    </li>
                    <li class="nav-item">
                        <i class="fa fa-instagram px-2 fw-bold" aria-hidden="true"></i>
                    </li>
                    <li class="nav-item">
                        <i class="fa fa-twitter px-2 fw-bold" aria-hidden="true"></i>
                    </li>
                    <li class="nav-item">
                        <i class="fa fa-pinterest px-2 fw-bold" aria-hidden="true"></i>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- Navigation -->
<section class="featured container my-5">
    <div class="row">
      <div class="one col-lg-4 col-md-6 col-12 mb-3">
        <img src="../assets/images/Post 1.jpg" alt="post1" class="img-fluid">
        <div class="text w-75 h-50 text-light p-4">
          <p>BREAKFIRST</p>
          <h4>Lorem ipsum dolor sit amet, consectetur adipisicing.</h4>
          <a href="#">Read more</a>
        </div>
      </div>
      <div class="one col-lg-4 col-md-6 col-12 mb-3">
        <img src="../assets/images/Post 2.jpg" alt="post1" class="img-fluid">
        <div class="text w-75 h-50 text-light p-4">
          <p>BREAKFIRST</p>
          <h4>Lorem ipsum dolor sit amet, consectetur adipisicing.</h4>
          <a href="#">Read more</a>
        </div>
      </div>
      <div class="one col-lg-4 col-md-6 col-12 mb-3">
        <img src="../assets/images/Post 2.jpg" alt="post1" class="img-fluid">
        <div class="text w-75 h-50 text-light p-4">
          <p>BREAKFIRST</p>
          <h4>Lorem ipsum dolor sit amet, consectetur adipisicing.</h4>
          <a href="#">Read more</a>
        </div>
      </div>
    </div>
  </section>
  <section class="subscription container p-5">
    <div class="row d-flex justify-content-center">
      <div class="content col-lg-6 col-md-6 col-12">
        <h3>Want to get weekly tips & tricks?</h3>
        <p>Sign up & receive your first email immediately</p>
      </div>
      <div class="sub col-lg-6 col-md-6 col-12">
        <input type="email" name="" id="" placeholder="Enter your email"
          class="px-3 py-2 col-lg-7 col-md-12 col-12 my-1">
        <button class="text-uppercase col-lg-4 col-md-12 col-12">Subscribe</button>
      </div>
    </div>
  </section>




  <!-- <section class="blog container my-5">
    <div class="row">
      <div class="post col-lg-8 col-md-8 col-12">
        <div class="row">

          <div class="post1 col-lg-6 col-md-6 col-12 pb-4">
            <img src="../assets/images/Post 1.jpg" alt="post1" class="img-fluid pb-3">
            <h3>Make a healthy roution for you</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo repellendus cupiditate dolorum
              repellat totam eaque!</p>
            <a href="#">Read more</a>
          </div>
          <div class="post1 col-lg-6 col-md-6 col-12 pb-4">
            <img src="../assets/images/Post 2.jpg" alt="post1" class="img-fluid pb-3">
            <h3>Make a healthy roution for you</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo repellendus cupiditate dolorum
              repellat totam eaque!</p>
            <a href="#">Read more</a>
          </div>
          <div class="post1 col-lg-6 col-md-6 col-12 pb-4">
            <img src="../assets/images/Post 3.jpg" alt="post1" class="img-fluid pb-3">
            <h3>Make a healthy roution for you</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo repellendus cupiditate dolorum
              repellat totam eaque!</p>
            <a href="#">Read more</a>
          </div>
          <div class="post1 col-lg-6 col-md-6 col-12 pb-4">
            <img src="../assets/images/Post 4.jpg" alt="post1" class="img-fluid pb-3">
            <h3>Make a healthy roution for you</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo repellendus cupiditate dolorum
              repellat totam eaque!</p>
            <a href="#">Read more</a>
          </div>
          <div class="post1 col-lg-6 col-md-6 col-12 pb-4">
            <img src="../assets/images/Post 5.jpg" alt="post1" class="img-fluid pb-3">
            <h3>Make a healthy roution for you</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo repellendus cupiditate dolorum
              repellat totam eaque!</p>
            <a href="#">Read more</a>
          </div>
          <div class="post1 col-lg-6 col-md-6 col-12 pb-4">
            <img src="../assets/images/Post 6.jpg" alt="post1" class="img-fluid pb-3">
            <h3>Make a healthy roution for you</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo repellendus cupiditate dolorum
              repellat totam eaque!</p>
            <a href="#">Read more</a>
          </div>


        </div>
      </div>
      <div class="sidebar col-lg-4 col-md-4 col-12">
        <div class="side1 text-center pb-5">
          <img src="../assets/images/Profile picture.jpg" alt="blog-side-image" class="img-fluid">
          <h3>Sofia Saimal</h3>
          <h6>FULL TIME HEALTH BLOGGER</h6>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque, aspernatur officia delectus error nobis
            harum.</p>
        </div>
        <div class="side2">
          <h4>My personal favorite</h4>
          <hr class="w-50">
          <div class="row pb-3">
            <div class="sideimg col-lg-4 col-md-4 col-4">
              <img src="../assets/images/Post 5.jpg" alt="" class="img-fluid">
            </div>
            <div class="sidetext col-lg-8 col-md-8 col-8">
              <h4>Lorem ipsum dolor sit amet.</h4>
              <a href="#">Read more</a>
            </div>
          </div>
          <div class="row pb-3">
            <div class="sideimg col-lg-4 col-md-4 col-4">
              <img src="../assets/images/Post 6.jpg" alt="" class="img-fluid">
            </div>
            <div class="sidetext col-lg-8 col-md-8 col-8">
              <h4>Lorem ipsum dolor sit amet.</h4>
              <a href="#">Read more</a>
            </div>
          </div>
          <div class="row pb-3">
            <div class="sideimg col-lg-4 col-md-4 col-4">
              <img src="../assets/images/Post 7.jpg" alt="" class="img-fluid">
            </div>
            <div class="sidetext col-lg-8 col-md-8 col-8">
              <h4>Lorem ipsum dolor sit amet.</h4>
              <a href="#">Read more</a>
            </div>
          </div>
        </div>
        <div class="side3">
          <h4>Intersting</h4>
          <hr class="w-50">
          <div class="one">
            <img src="../assets/images/Post 1.jpg" alt="" class="img-fluid">
            <div class="text text-center">
              <h4 class="text-light">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure, ipsa.</h4>
              <button test-uppercase>Shop Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
</div>