<div class="home">
    <!-- <h1 class="intro">{{ 'intro' | translate }}</h1> -->
    <!-- <h1 class="intro">{{'proj_name' | translate}}</h1> -->

<!-- <h1>Another way: <span translate>intro</span></h1> -->

<!-- <h3 class="short_desc"><span translate>project_short_desc</span></h3>

<p><a href="https://docs.google.com/document/d/1NdB3SdAbKSFcPooap-ddpHdQQxBDvAieH2bPF4NCLMU/edit?usp=sharing" target="_blank" class="btn btn-primary">{{'view_detail_doc_btn' | translate}}</a>
</p>
<p>
    <a href="https://github.com/srikrushnap" target="_blank" class="btn btn-primary">Github</a>
    <a href="https://stackoverflow.com/users/5852550/srikrushna?tab=profile" target="_blank" class="btn btn-success">Stackoverflow</a>
    <a href="https://github.com/srikrushnap" target="_blank" class="btn btn-primary">Linkedin</a>
</p> -->
<div class="intro">
    <img src="../assets/images/header.jpg" alt="Header Image" class="img-fluid w-100">
    <div class="head text-center">
        <h1>OrderR NoW</h1>
        <h6>You OrderRed we DeliveRed</h6>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam, velit.</p>
        <hr class="w-25 mx-auto">
    </div>
</div>
<!-- Navigation -->
<div class="secondary-nav">
    <nav class="navbar navbar-expand-lg navbar-light bg-light px-5 py-3">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://developerstips.com/" target="_blank">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/contact-us">Contact US</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <i class="fa fa-youtube-play px-2 fw-bold" aria-hidden="true"></i>
                    </li>
                    <li class="nav-item">
                        <i class="fa fa-instagram px-2 fw-bold" aria-hidden="true"></i>
                    </li>
                    <li class="nav-item">
                        <i class="fa fa-twitter px-2 fw-bold" aria-hidden="true"></i>
                    </li>
                    <li class="nav-item">
                        <i class="fa fa-pinterest px-2 fw-bold" aria-hidden="true"></i>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- Navigation -->
<section class="featured container my-5">
    <div class="row">
      <div class="one col-lg-4 col-md-6 col-12 mb-3">
        <img src="../assets/images/Post 1.jpg" alt="post1" class="img-fluid">
        <div class="text w-75 h-50 text-light p-4">
          <p>BREAKFIRST</p>
          <h4>Lorem ipsum dolor sit amet, consectetur adipisicing.</h4>
          <a href="#">Read more</a>
        </div>
      </div>
      <div class="one col-lg-4 col-md-6 col-12 mb-3">
        <img src="../assets/images/Post 2.jpg" alt="post1" class="img-fluid">
        <div class="text w-75 h-50 text-light p-4">
          <p>BREAKFIRST</p>
          <h4>Lorem ipsum dolor sit amet, consectetur adipisicing.</h4>
          <a href="#">Read more</a>
        </div>
      </div>
      <div class="one col-lg-4 col-md-6 col-12 mb-3">
        <img src="../assets/images/Post 2.jpg" alt="post1" class="img-fluid">
        <div class="text w-75 h-50 text-light p-4">
          <p>BREAKFIRST</p>
          <h4>Lorem ipsum dolor sit amet, consectetur adipisicing.</h4>
          <a href="#">Read more</a>
        </div>
      </div>
    </div>
  </section>
</div>